img.noindex {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

body{
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

span.info {font-style:oblique; color:#b0b0b0}
span.em {font-style:oblique}
span.b {font-weight:bold}

