img.noindex {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

body {
  font-family: Alte Haas Grotesk, Helvetica, Verdana, Arial, sans-serif;
}

h1 {
  color: #00c;
}

h1.sub, h2.sub {
  color: #479d9b;
}

a {
  color: #479d9b;
  text-decoration: none;
  font-weight: bold;
  overflow-wrap: anywhere;
}

p {
  max-width: 800px;
  word-wrap: break-word;
}

pre {
  font-family: Courier90, Courier, Courier New, monospaced;
  font-variant-ligatures: none;
}

pre.header {
  white-space: pre-wrap;
}

span.mono {
  font-family: Courier90, Courier, Courier New, monospaced;
  font-variant-ligatures: none;
}

span.header {
  background-color: #d3f0fd;
}

span.headerinpost {
  background-color: #d3fdf0;
}

span.header:before {
    content:"";
    background-color:#d3f0fd;
    position: absolute;
    height: 5.6em;
    width: 200vw;
    left: -100vw;
    z-index: -1;
}

span.subject {
  font-weight: bold;
  color: #479d9b;
}

.center {
  text-align: center;
}

.edit {
  color: #002e7a;
  background-color: #a7ffe7;
  font-weight: bold;
}

.cutedit {
  color: #999;
  background-color: #a7ffe7;
  font-weight: bold;
  text-decoration: line-through;
}

.gray {
  color: gray;
}

@font-face{
    font-family: 'Alte Haas Grotesk';
    font-weight: normal;
    src: url('ahgr.woff2') format('woff2');
}

@font-face{
    font-family: 'Alte Haas Grotesk';
    font-weight: bold;
    src: url('ahgb.woff2') format('woff2');
}

@font-face{
    font-family: 'Courier90';
    font-weight: normal;
    src: url('c90r.woff2') format('woff2');
}

@font-face{
    font-family: 'Courier90';
    font-weight: bold;
    src: url('c90b.woff2') format('woff2');
}
