:root {color-scheme: light only}

/* images */

body {background-color:white}
table {border:0px; border-spacing:0px}
td {vertical-align:top; padding:0px}
td.title {width:891px}
td.contents {width:367px}
td.main {width:100%}
img.white {display:block}
rect, circle, rect.title:hover {opacity:0}
rect:hover, circle:hover {fill:turquoise; opacity:0.1}
svg {display:block}
svg.artemis rect:hover {fill:#80ff80}
@media screen and (max-width: 891px) {
  svg.contents-en, svg.contents-de {display:none}
  td.contents-text {display:none}
  td.mobile-text {max-width:524px}
  td.main-text {max-width:524px}
}
@media screen and (min-width: 892px) {
  svg.mobile-en, svg.mobile-de {display:none}
  td.mobile-text {display:none}
}

/* text */

body {
  color: #007c63;
  font-family: 'CMU Sans Serif';
  font-size: 15pt;
  text-shadow: 0.2px 0.2px 0.2px;
}
h1 {font-size:22pt}
h2 {font-size:18pt}
h3 {font-size:16pt}

a {color:#007c63}
a.plain {text-decoration:none}
a.bold {font-weight:bold}

p.indent {text-indent:1.5em}
p.close {margin-top:-12pt}
p.center {text-align:center}
p.small {font-size:14pt}

div.copyright {font-size:10pt}

table.contents-mobile {
  margin-top: 20cm;
}
table.contents-desktop-and-main-text {
  max-width: 875px;
  hyphens: auto;
  text-align: justify;
}
td.contents-text {width:42%}
td.mobile-text {width:100%}
td.main-text {width:100%}

ul.contents {
  font-weight: bold;
  list-style-type: none;
  padding: 0 0 0 1em;
}
ul.contents-sub {
  font-weight: normal;
  list-style-type: none;
  padding: 1em;
}
li.contents-first-sub {margin-top:-1em; font-size:14pt}
li.contents-sub {font-size:14pt}
li.contents-lang { font-weight:normal; font-size:14pt}

ul.mobile {
  list-style-type: none;
  padding: 0;
}

table.text {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
td.text {
  font-size: 14pt;
  border-width: 1px 1px 1px 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
}

table.text-no-border {
  margin-left: auto;
  margin-right: auto;
  border: none;
}
td.text-no-border {
  font-size: 14pt;
  text-align: center;
  border: none;
}

table.text-break-all {word-break:break-all}

ul.leads {
  margin-left: 7px;
  margin-top: 5px;
  margin-right: 0px;
  padding-left: 7px;
  padding-top: 5px;
  padding-right: 0px;
}
li.leads {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:14pt;
}
p.leads {
  margin-top: -9pt;
  font-size:14pt;
}

ul.left {text-align: left}
li.circle {list-style-type: circle}
li.diamond {list-style-type: "◇"}
li.yinyang {list-style-type: "☯"}

@font-face {
    font-family: 'CMU Sans Serif';
    font-weight: normal;
    font-style: normal;
    src: url('cmunss.woff2') format('woff2');
}
@font-face {
    font-family: 'CMU Sans Serif';
    font-weight: bold;
    font-style: normal;
    src: url('cmunsx.woff2') format('woff2');
}
@font-face {
    font-family: 'CMU Sans Serif';
    font-weight: normal;
    font-style: italic;
    src: url('cmunsi.woff2') format('woff2');
}
@font-face {
    font-family: 'CMU Sans Serif';
    font-weight: bold;
    font-style: italic;
    src: url('cmunso.woff2') format('woff2');
}
