img.noindex {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

span.noindex {
  color: #002e7a;
  background-color: #caffe8;
  font-weight: bold;
}

pre {
  font-family: Courier, Courier New, monospaced;
  white-space: pre-wrap;
}
